.game
  position: relative
  display: inline-block;
  font-size: 18px;
  *
    user-select: none

  .live
    position: absolute
    top: 0px
    left: 5px

  .boardBox
    display: inline-block;
    border-radius: 8px;
    background: #5c8ab9;
    border: 7px solid #5c8ab9;

  .infos
    vertical-align: top;
    display: inline-block;

  .gold-score-bar
    margin: 0 5px;

  .heroes
    font-size: 13px;
    line-height: 16px;
    .hero-stats
      margin-top: 7px;

