#board {
    padding-top: 10px;
}

#gold {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #474747;
    font-size:12px;
}


#gold li {
    display: inline-block;
    width: 90px;
    height: 37px;
    background-image: url('../img/parchment.png');
}

.player {
    padding-top: 8px;
    padding-left: 5px;
    width: 20px;
    height: 20px;
    vertical-align:-4px;
}

.coin {
    padding-left: 5px;
    width: 14px;
    height: 15px;
    vertical-align:-3px;
}

li.first span {
    font-weight: bold;
    border-bottom: 2px solid black;
}
