body {
    background: #383b32;
    color: #d0d0d0;
    text-align: center;
    font-family: 'VT323', cursive;
    font-size: 18px;
}

body h2 {
    font-family: 'VT323', cursive;
    font-size: 36px;
}

a {
    color: white;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
}

button, input {
    font-family: 'VT323', cursive;
}

#intro {
    text-align: left;
}

#intro blockquote {
    font-style: italic;
}

#intro p {
    padding-top: 10px;
}

#logo {
    font-size: 40px;
    font-weight: bold;
}

#recent-games ul, #top-users ul {
    margin: 0;
    padding: 0;
}

#main-menu ul {
    list-style-type: none;
    font-size: 26px;
    padding:0 0 40px 0;
    margin:0;
}

#main-menu ul li:first-child:before {
    content: "";
}

#main-menu ul li:before {
    content: " - ";
}

#main-menu ul li {
    display: inline-block;
}

#nav {
    display: none;
}

#nav span {
    cursor: pointer;
}

#turn {
    list-style-type: none;
    line-height: 22px;
}

#legend #turn {
    padding-top:5px;
}

#turn strong {
    display: block;
}

#game {
    position: relative;
    display: inline-block;
}

#board {
    padding-top: 10px;
    position: relative;
}

#boardBox {
    display: inline-block;
}

#infos {
    vertical-align:top;
    display: inline-block;
}

#gold .name {
    display: block;
}

#gold {
    margin: 0;
    padding: 10px 0 0 0;
    list-style-type: none;
    color: #474747;
    font-size:16px;
    display: none;
}


#gold li {
    width: 117px;
    height: 55px;
    padding-top: 3px;
    margin-bottom: 7px;
    background-image: url('../img/parchment.png');
    position: relative;
}

#legend {
    margin:0;
    padding:10px 0 0 0;
    text-align: left;
}

#legend li {
    width: 117px;
    height: 55px;
    padding-top: 14px;
    background-image: url('../img/parchment.png');
    color: #474747;
    text-align: center;
}

#legend p {
    display: inline-block;
}

#gold .player {
    width: 20px;
    height: 20px;
    vertical-align:-4px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.coin {
    width: 13px;
    height: 14px;
    vertical-align:-3px;
}

li.first {
    color: black;
    font-weight: bold;
}

li.first span.name {
    text-decoration: underline;
}

#gold a {
    color: #474747;
    text-decoration: none;
}

#gold {
    font-size: 13px;
    line-height: 16px;
}

#gold .gold {
    font-size: 16px;
    margin-right: 3px;
}

#gold .elo {
    font-size: 10px;
}

#scoreBar {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

#scoreBarCoin {
    background-color: #777777;
    width: 24px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#scoreBarCoin img {
    padding: 0;
    margin: 10px 0 0 0;
    width: 14px;
    height: 15px;
}
#bars {
    width: 24px;
    height: 240px;
    border: 2px solid #777777;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

#scoreBarPlayer1 {
   background-color: #ca0000;
}

#scoreBarPlayer2 {
   background-color: #0000ca;
}

#scoreBarPlayer3 {
   background-color: #00b700;
}


#scoreBarPlayer4 {
   background-color: #caca00;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
}
