body {
  background: #383b32;
  color: #d0d0d0;
  text-align: center;
}

#nav {
    display: none;
}

#nav span {
    cursor: pointer;
}

#turn {
    list-style-type: none;
}

#game {
    position: relative;
    display: inline-block;
}

#board {
    padding-top: 10px;
    position: relative;
}

#gold {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #474747;
    font-size:12px;
    display: none;
}


#gold li {
    display: inline-block;
    width: 90px;
    height: 37px;
    background-image: url('../img/parchment.png');
}

.player {
    padding-top: 8px;
    width: 20px;
    height: 20px;
    vertical-align:-4px;
}

.coin {
    padding-left: 5px;
    width: 14px;
    height: 15px;
    vertical-align:-3px;
}

li.first span {
    font-weight: bold;
    border-bottom: 2px solid black;
}

#scoreBar {
    width: 20px;
    height: 240px;
    border-right: 2px solid #2f8136;
    border-top: 2px solid #2f8136;
    border-bottom: 2px solid #2f8136;
    position: absolute;
    top: 10px;
    right: -22px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#scoreBar div {
   position: relative;
   width: 20px;

}

#scoreBarPlayer1 {
   border-top-right-radius: 3px;
   background-color: #ca0000;
}

#scoreBarPlayer2 {
   background-color: #0000ca;
}

#scoreBarPlayer3 {
   background-color: #00b700;
}


#scoreBarPlayer4 {
   background-color: #caca00;
   border-bottom-right-radius: 3px;
}
