@(replays: List[Replay], topUsers: List[User])


@main("AI contest") {

<section id="intro">
    <div class="row">
        <div class="col-md-6">
            <blockquote>
                Four legendary heroes were fighting for the land of Vindinium<br />
                Making their way in the dangerous woods<br />
                Slashing goblins and stealing gold mines<br />
                And looking for a tavern where to drink their gold
            </blockquote>
        </div>
        <div class="col-md-6">
            <p>
            <strong>Vindinium</strong> is an Artificial Intelligence programming challenge. You have to take the control of a <strong>legendary hero</strong> using the programming language of your choice. You will fight with other AI for a predetermined number of turns and the hero with the <strong>greatest amount of gold</strong> will be the winner.
            </p>
        </div>
    </div>

</section>

<section id="recent-games">
  <h2>Recent games</h2>
  <ul>
    @replays.map { replay =>
    <li>
      <a href="@routes.Game.show(replay.id)">
        @replay.names.mkString(" vs "),
        @if(replay.finished) { Finished } else { In progress }
      </a>
    </li>
    }
  </ul>
</section>

<section id="top-users">
  <h2>Top users</h2>
  <ul>
    @topUsers.map { user =>
    <li>
      <a href="@routes.User.show(user.id)">
        @user.name (@user.elo)
      </a>
    </li>
    }
  </ul>
</section>
}
