@(title: String)(content: Html)

@import play.api._

<!DOCTYPE html>

<html>
  <head>
    <title>@title | Vindinium</title>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("vendors/font-awesome-4.1.0/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/style.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bundle.css")">
  </head>
  <body>
  <div class="container">
      <div id="logo"><img src="@routes.Assets.at("img/fireheart/player1.png")"/><img src="@routes.Assets.at("img/fireheart/player2.png")"/><a href="@routes.App.index()">Vindinium</a><img src="@routes.Assets.at("img/fireheart/player3.png")"/><img src="@routes.Assets.at("img/fireheart/player4.png")"/></div>
      <div id="main-menu">
          <ul>
              <li><a href="@routes.App.index()">Home</a></li>
              <li><a href="@routes.User.registerForm()">Create a bot</a></li>
              <li><a href="@routes.App.documentation()">Rules</a></li>
              <li><a href="@routes.App.starters()">Doc & Starter packages</a></li>
          </ul>
      </div>
      @content
  </div>
  @if(Play.current.mode == Mode.Dev) {
  <script src="@routes.Assets.at("bundle.js")" type="text/javascript"></script>
  <script src="//localhost:35092/livereload.js"></script>
  } else {
  <script src="@routes.Assets.at("bundle.min.js")" type="text/javascript"></script>
  }
  </body>
</html>
