@(replay: system.Replay)

@import play.api.libs.json.Json

@main("24hCodeBot") {

        <ul id="legend">
            <li id="turn">Turn: <span></span></li>
        </ul>
        <ul id="gold">
            <li id="player1" class="first"><img class="player" src="@routes.Assets.at("img/fireheart/player1.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
            <li id="player2"><img class="player" src="@routes.Assets.at("img/fireheart/player2.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
            <li id="player3"><img class="player" src="@routes.Assets.at("img/fireheart/player3.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
            <li id="player4"><img class="player" src="@routes.Assets.at("img/fireheart/player4.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
        </ul>

        <canvas id="board"></canvas>

        <div id="nav"><span id="prev">&lt;</span>&nbsp;&nbsp;&nbsp;<span id="next">&gt;</span></div>

        <script language="javascript">
            replay = @Html(Json.stringify(JsonFormat(replay)));
        </script>
}
