@(replay: Replay)

@import play.api.libs.json.Json

@main("Game " + replay.id) {


<div id="game">
    <div id="boardBox">
        <canvas id="board">
        </canvas>

    </div>

    <div id="scoreBar">

        <div id="scoreBarCoin"><img src="@routes.Assets.at("img/coin.png")" class="coin"/></div>
        <div id="bars">
            <div id="scoreBarPlayer1" class="player"></div>
            <div id="scoreBarPlayer2" class="player"></div>
            <div id="scoreBarPlayer3" class="player"></div>
            <div id="scoreBarPlayer4" class="player"></div>
        </div>
    </div>
    <div id="infos">
        <ul id="legend">
            <li id="turn"><p><strong>Turn</strong> <span class="number"></span></p></li>
        </ul>

        <ul id="gold">
            <li id="player1"><img class="player" src="@routes.Assets.at("img/fireheart/player1.png")"/> <span class="gold">100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/><a><span class="name" title=""></span></a>Elo: <span class="elo"></span></li>
            <li id="player2"><img class="player" src="@routes.Assets.at("img/fireheart/player2.png")"/> <span class="gold">100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/><a><span class="name" title=""></span></a>Elo: <span class="elo"></span></li>
            <li id="player3"><img class="player" src="@routes.Assets.at("img/fireheart/player3.png")"/> <span class="gold">100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/><a><span class="name" title=""></span></a>Elo: <span class="elo"></span></li>
            <li id="player4"><img class="player" src="@routes.Assets.at("img/fireheart/player4.png")"/> <span class="gold">100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/><a><span class="name" title=""></span></a>Elo: <span class="elo"></span></li>
        </ul>

    </div>

    <div id="replay">
        <div id="nav"><span id="prev">&lt;</span>&nbsp;&nbsp;&nbsp;<span id="next">&gt;</span></div>

        <button id="manual-alone">PLAY - TRAINING</button>
        <button id="manual-many">PLAY</button>
        <div id="yourturn"></div>
    </div>

</div>


<script language="javascript">
  var gameId = "@replay.id";
  @if(replay.finished) {
    var replay = @Html(JsonFormat jsonString replay);
  }
</script>
}
