@(replay: system.Replay)

@import play.api.libs.json.Json

@main("24hCodeBot") {

<ul id="legend">
  <li id="turn">Turn: <span></span></li>
</ul>
<ul id="gold">
  <li id="player1" class="first"><img class="player" src="@routes.Assets.at("img/fireheart/player1.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
  <li id="player2"><img class="player" src="@routes.Assets.at("img/fireheart/player2.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
  <li id="player3"><img class="player" src="@routes.Assets.at("img/fireheart/player3.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
  <li id="player4"><img class="player" src="@routes.Assets.at("img/fireheart/player4.png")"/> <span>100</span><img src="@routes.Assets.at("img/coin.png")" class="coin"/></li>
</ul>

<div id="game">
    <canvas id="board">
    </canvas>
    <div id="scoreBar">
        <div id="scoreBarPlayer1"></div>
        <div id="scoreBarPlayer2"></div>
        <div id="scoreBarPlayer3"></div>
        <div id="scoreBarPlayer4"></div>
    </div>
</div>

<div id="nav"><span id="prev">&lt;</span>&nbsp;&nbsp;&nbsp;<span id="next">&gt;</span></div>

<button id="manual-alone">PLAY - TRAINING</button>
<button id="manual-many">PLAY</button>
<div id="yourturn"></div>

<script language="javascript">
  var replay, gameId;

  @if(replay.finished) {
    replay = @Html(Json.stringify(JsonFormat(replay)));
    gameId = "@replay.id"
  } else {
    gameId = "@replay.id"
  }
</script>
}
